{% load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css'%}"/>

<div id = "header">
    <form action="{% url 'search' %}" method="POST">  <!--add search function here-->
        {% csrf_token %}
        <input id = "searchfield" type ="text" name ="search" value="Search...">
        <input id = "searchbutton" type="submit" value="Search">
    </form>
    <div>
        <a href = "/homepage/register/">Register</a> | <a href = "/homepage/login/">Login</a> | <a href = "/homepage/addpost/">Add Post</a> | <a href = "/homepage/logout/">Log Out</a> <br>
        <!-- <a href = "/homepage/addpost/">Add a new post!</a> -->
    </div>
</div>

<h1><a id = "home" href = "/homepage/">NEW BEGINNINGS MARKETPLACE  </a></h1>

<h2>All Posts</h2>

<div id = "gridbox">
    {% if all_posts %}
            {% for post in all_posts %}
            <div>
                <span class = "post_title">
                <a href = "/homepage/{{ post.id }}/">{{ post.itemname }}</a>
                </span>
                    posted by 
                    <a href = "/homepage/{{ post.ownername }}/">{{ post.ownername }}</a>
                <br>
                <a href = "/homepage/{{ post.id }}/"><img class = "thumbnail" src = "{{ post.thumbnail }}"></a>
                <br>
                <a href = "#">tags: {{ post.tags }}</a><br>
            </div>
            {% endfor %}
    {% else %}
        <h3>No posts to display!</h3>
    {% endif %}
</div>
