{% load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css'%}"/>

<div id = "header">
    <form>  <!--add search function here-->
        <input id = "searchfield" type ="text" name ="search" value="Search...">
        <input id = "searchbutton" type="submit" value="Search">
    </form>
    <div>
        <a href = "/homepage/register/">Register</a> | <a href = "/homepage/login/">Login</a> <br>
        <!-- <a href = "/homepage/addpost/">Add a new post!</a> -->
    </div>
</div>

<h1><a id = "home" href = "/homepage/">NEW BEGINNINGS MARKETPLACE</a></h1>
<h2>Register</h2>

{%if error_message %}
<p><strong>{{ error_message }}</strong></p>
{%endif%}

<form action="{% url 'submit' %}" method="POST">
    {% csrf_token %}
    name:<br>
    <input type="text" name="name" value="name"><br>
    username:<br>
    <input type="text" name="username" value="username"><br>
    password:<br>
    <input type="password" name="password" value="password">
    <br><br>
    <input type="submit" value="Submit">
</form>